<div class="modal-header">
  <div class="input-task">
    <textarea class="form-control input-title-edit" maxlength="150" [(ngModel)]="task.name"
      (change)="onChangeUpdateTask()"></textarea>
  </div>
</div>

<div class="modal-body">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#comments"><i class="fa fa-comments"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#files"><i class="fa fa-paperclip"></i></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="comments">
      <div class="row top2">
        <div class="col-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Agregar comentario" [(ngModel)]="comment" (keyup.enter)="addComment()">
          </div>
        </div>
        <div  class="col-12" *ngFor="let item of taskComments">
           <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"><small>{{item.createdate |  date:'dd/MM/yyyy HH:mm'}}</small></h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 19px, 0px);">
                        <div class="dropdown-header">OPCIONES:</div>
                        <a class="dropdown-item" href="#" (click)="deleteComment(item)">Eliminar</a>
                        <a class="dropdown-item" href="#">Archivar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"></a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                        <p class="text-comment">{{ item.description}}</p>
                  </div>
              </div> 
        </div>
        <div class="col-12" *ngIf="load">
          <p class="text-secundary">Cargando comentarios...</p>
        </div>
      </div>
    </div>
    <div class="tab-pane container fade" id="files">
        <div class="row top2">
            <div class="col-8">
              <div class="form-group">
                  <label>Seleccione un archivo*</label>
                  <input type="file" #inputFile  class="form-control" 
                  (change)="handleFileInput($event.target.files)">
              </div>
            </div>
            <div class="col-4 top4">
                <button type="submit" class="btn  btn-primary" (click)="onClickUploadFile()">
                  <i class="fa fa-upload"></i> Subir
                </button>
            </div>
        </div>
        <div class="row" *ngIf="msg!=null && msg!=''">
            <div class="col-12">
                <label  class="text-danger">{{msg}}</label>
            </div>
        </div>

        <div class="row top2">
            <div  class="col-12 " *ngFor="let item of taskFiles">
                <div class="card shadow mb-4">
                     <!-- Card Header - Dropdown -->
                     <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                         <h6 class="m-0 font-weight-bold text-primary">
                           <small>
                           <a href="#!" (click)="onClickOpenFile(item.id)">
                           <i class="fa fa-file"></i> {{item.namefile }}</a>
                          </small>
                        </h6>
                         <div class="dropdown no-arrow">
                           <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                           </a>
                           <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 19px, 0px);">
                             <div class="dropdown-header">OPCIONES:</div>
                             <a class="dropdown-item" href="#" (click)="deleteTask(item)">Eliminar</a>
                             <a class="dropdown-item" href="#">Archivar</a>
                             <div class="dropdown-divider"></div>
                             <a class="dropdown-item" href="#"></a>
                           </div>
                         </div>
                       </div>
                       <!-- Card Body -->
                       <div class="card-body">
                      
                          
                       </div>
                   </div> 
             </div>
        </div>
     
    </div>

  </div>
</div>
